.Box4_item{
    width: 350px;
    height: 544px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box4_img{
    width: 350px;
    height: 300px;
    background: url("/src/assets/60526aeb04eebe36e2806203009c203ec4fcc4be.jpg");
    background-size: 100% 100%;
}
.box4_text1{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;    
}
.box4_span1{
    color: #4985FF;
}
.box4_text2{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0%;
    color: gray;    
}
.box4_text3{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #4985FF;
}
