.Box2_item{
    width: 353px;
    height: 139px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box2_img1{
    width: 110px;
    height: 110px;
    background: url("/src/assets/photo_2025-04-27_13-58-40.jpg");
    background-size: 100% 100%;
}
.box2_cont1{
    width: 222px;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.box2_text3{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;    
}
.box2_text4{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    letter-spacing: 0%;
    color: grey;    
}
