.Box3_item{
    width: 104px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box2_img1{
    width: 30px;
    height: 30px;
    background: url("/src/assets/web-programming.png");
    background-size: 100% 100%;
}
.box2_cont1{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box2_text3{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 36px;
    line-height: 146%;
    letter-spacing: 0%;
    color: #000;    
}
.box2_text4{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0%;
    color: grey;    
}